.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xl);
  text-align: center;
}

.error-wrapper {
  max-width: 600px;
}

.error-code {
  font-size: clamp(6rem, 7vw, 10rem);
  color: rgb(var(--color-primary-accent));
}

.error-heading {
  font-size: var(--fontsize-xxl);
  color: rgb(var(--color-primary-text));
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.error-desc {
  font-size: var(--fontsize-md);
  color: rgb(var(--color-secondary-text));
  margin-bottom: var(--spacing-xl);
}