.footer {
  background-color: rgb(var(--color-secondary-bg));

  padding-block: var(--spacing-xl);

  border-top: var(--border-width-normal) solid rgb(var(--color-border));
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);

  text-align: center;
}

.footer-socials-list {
  display: flex;
  gap: var(--spacing-sm);

  font-size: var(--fontsize-lg);
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: var(--spacing-md);
  }
}