.header {
  background-color: rgb(var(--color-secondary-bg));

  position: sticky;
  top: var(--spacing-md);

  border: var(--border-width-normal) solid rgb(var(--color-border));
  border-radius: var(--radius-lg);

  margin: var(--spacing-md);
  padding: var(--spacing-sm);

  font-size: var(--fontsize-md);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: var(--zindex-navbar);
}

.navbar {
  background-color: rgb(var(--color-secondary-bg));

  border: var(--border-width-normal) solid rgb(var(--color-border));
  border-radius: var(--radius-lg);

  position: fixed;
  top: var(--navbar-height);
  left: var(--spacing-md);
  right: var(--spacing-md);

  opacity: 0;
  visibility: hidden;

  padding: var(--spacing-md);
}

.navbar.active {
  visibility: visible;
  opacity: 1;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.navbar-link.current {
  color: rgb(var(--color-primary-accent));
  position: relative;
}

.navbar-link.current::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(var(--color-primary-accent));
  border-radius: var(--radius-full);
}

.toggles {
  display: flex;
  gap: var(--spacing-sm);

  font-size: var(--fontsize-lg);
}

.toggle {
  font-size: var(--fontsize-lg);
}

.navbar-overlay {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;

  z-index: var(--zindex-overlay);

  backdrop-filter: blur(4px);

  background-color: rgba(0, 0, 0, 0.4);

  z-index: var(--zindex-overlay);
}

.navbar-overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1024px) {
  .header {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: var(--spacing-xxl);

    font-size: var(--fontsize-sm);
  }

  .navbar {
    opacity: 1;
    visibility: visible;

    background: none;
    border: none;

    padding: 0;

    position: static;
  }

  .navbar-list {
    flex-direction: row;
    gap: var(--spacing-md);
  }

  .toggles {
    font-size: var(--fontsize-md)
  }

  .hamburger-toggle {
    display: none;
  }
}