:root {
  /* Typography */
  --font-primary: "Outfit", "Segoe UI Variable", "Segoe UI", sans-serif;

  --fontsize-xxs: 0.64rem;
  --fontsize-xs: 0.8rem;
  --fontsize-sm: clamp(0.95rem, 0.1vw + 0.9rem, 1rem);
  --fontsize-md: clamp(1.15rem, 0.3vw + 1.1rem, 1.25rem);
  --fontsize-lg: clamp(1.35rem, 0.6vw + 1.2rem, 1.563rem);
  --fontsize-xl: clamp(1.4rem, 1.5vw + 1rem, 1.953rem);
  --fontsize-xxl: clamp(1.7rem, 2.5vw + 1rem, 2.441rem);

  /* Spacing System */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  /* Border Widths */
  --border-width-thin: 1px;
  --border-width-normal: 2px;
  --border-width-thick: 4px;

  /* Radiuses */
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-xxl: 24px;
  --radius-full: 9999px;

  /* Layering Indexes */
  --zindex-navbar: 90;
  --zindex-overlay: 80;
  --zindex-modal: 100;
  --zindex-hidden: -1;
  
  --navbar-height: calc(var(--spacing-sm) * 6.5);

  /* Transitions */
  --transition-fast: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-normal: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Light Theme Colors (Default)*/
:root[data-theme="light"] {
  --color-neutral: 15, 23, 42;
  --color-neutral-hover: 2, 6, 23;
  --color-border: 203, 213, 225;
  
  --color-success: 5, 150, 105;
  --color-success-hover: 4, 120, 87;
  --color-warning: 217, 119, 6;
  --color-warning-hover: 180, 83, 9;
  --color-error: 220, 38, 38;
  --color-error-hover: 185, 28, 28;

  --color-primary-bg: 248, 250, 252;
  --color-secondary-bg: 255, 255, 255;
  --color-primary-surface: 255, 255, 255;
  --color-secondary-surface: 241, 245, 249;

  --color-primary-text: 15, 23, 42;
  --color-secondary-text: 71, 85, 105;
  --color-primary-text-inverted: 255, 255, 255;
  --color-secondary-text-inverted: 241, 245, 249;

  --color-primary-accent: 37, 99, 235;
  --color-primary-accent-hover: 29, 78, 216;
  --color-secondary-accent: 14, 165, 233;
  --color-secondary-accent-hover: 2, 132, 199;

  --theme-invert: 0;
}

/* Dark Theme Colors */
:root[data-theme="dark"] {
  --color-neutral: 241, 245, 249;
  --color-neutral-hover: 255, 255, 255;
  --color-border: 30, 41, 59;
  
  --color-success: 16, 185, 129;
  --color-success-hover: 52, 211, 153;
  --color-warning: 245, 158, 11;
  --color-warning-hover: 251, 191, 36;
  --color-error: 244, 63, 94;
  --color-error-hover: 251, 113, 133;

  --color-primary-bg: 7, 10, 19;
  --color-secondary-bg: 15, 23, 42;
  --color-primary-surface: 30, 41, 59;
  --color-secondary-surface: 51, 65, 85;

  --color-primary-text: 248, 250, 252;
  --color-secondary-text: 148, 163, 184;
  --color-primary-text-inverted: 7, 10, 19;
  --color-secondary-text-inverted: 15, 23, 42;

  --color-primary-accent: 59, 130, 246;
  --color-primary-accent-hover: 96, 165, 250;
  --color-secondary-accent: 6, 182, 212;
  --color-secondary-accent-hover: 34, 211, 238;

  --theme-invert: 1;
}

/* Adjustments for screen sizes */
@media (min-width: 768px) {
  :root {
    --spacing-md: 1.5rem;
    --spacing-lg: 1.8rem;
    --spacing-xl: 2.5rem;
    --spacing-xxl: 4rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --spacing-xl: 3.5rem;
    --spacing-xxl: 6rem;
    --radius-xl: 24px;
    --radius-xxl: 32px;
  }
}

@media (min-width: 1280px) {
  :root {
    --spacing-lg: 2.5rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 7rem;
  }
}

/* NOTE: For the color variables,  you need to write rgb(var(--color-...)) in order to use the color, since they are written in RGB with comma separated values */